/* Reset CSS */
/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông,...) */

/* 
Nguyên tắc làm việc
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */

/* Áp dụng lên tất cả các phần tử */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chỉ sử dụng cho những phần tử chứa chữ */
html {
  /* theo thứ tự là: font - font - chủng font */
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  
}

#header {
   height: 46px;
   background-color: black;
   /* Thêm thuộc tính bám dính fixed vào header khi trình duyệt dài hơn trang web 
   và giúp thẻ header đứng tĩnh*/
   position: fixed;
   /* Đảm bảo trên mọi trình duyệt top=0 */
   top: 0;
   /* Dính 2 bên header vào 2 bên màn hình */
   left: 0;
   right: 0;
   /* Thuộc tính giúp chìm nổi phần tử */
   z-index: 1;
}

#nav, .subnav {
  /* Kiểu danh sách mặc đinh là none, áp dụng cho ul li */
  list-style-type: none;
}

#nav {
  /* Làm mất tính kế thừa 100% chiều ngang thẻ cha là header */
  display: inline-block;
}

/* Chỉ cho phần tử li ở cấp 1 có thuộc tính inline-block */
#nav > li {
  display: inline-block;
}

/* Các thẻ li bên trong nav */
#nav li {
  /* Các phần tử li là con của nav sẽ mang thuộc tính relative */
  position: relative;
}

/* Subnav hay submenu(Theo nguồn tra được) là thư mục con của nav hay của menu */
/* Cách biểu diễn này giúp sử dụng các thuộc tính bên trong subnav 
và chỉ ảnh hưởng đến subnav là con của nav */
#nav .subnav {
  /* Ẩn phần tử thẻ li */
  display: none;
  /* Chiều dài tối thiểu */
  min-width: 160px;
  /* Phần tử có id subnav sẽ chịu ảnh hưởng của #nav li {} */
  position: absolute;
  background-color: #fff;
  /* Lớp bóng đổ */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  /* Dùng nguyên tắc kích thước chia hết cho 4 tạo khoảng cách */
  padding: 0 12px;
  /* Xét lại chiều cao các phần tử trong subnav cho ngắn lại*/
  line-height: 38px;
}

/* Css vào hậu duệ trực tiếp */
#nav > li > a {
  color: #fff;
  /* Chữ viết hoa */
  text-transform: uppercase;
}

/* Css vào thẻ a là con của li là con của nav */
#nav li a {
  /* Theo giả thuyết của mình, 
  thẻ a chịu ảnh hưởng thẻ li nên tất cả các thẻ li và a bên trong #nav sẽ chịu ảnh hưởng thuộc tính block, 
  mà bên trên hậu duệ trực tiếp(trực hệ hay child-selector) của #nav là li đã chịu ảnh hưởng của thuộc tính inline-block 
  nên các phần tử child-selector đó nằm trên 1 dòng, các phần tử thẻ a là ăn theo chứa thuộc tính block 
  là chiếm toàn bộ phần chiều dài của nó trong giới hạn phạm vi li */
  display: block;
  text-decoration: none;
  top: 100%;
  left: 0;
  /* Khoảng cách giữa chữ và khoảng trống: Phần tử: ([<->Chữ<->]) (hình dung theo chiều dọc)*/
  line-height: 46px;
  padding: 0 24px;
}

/* Hiển thị phần subnav hay ghi đè display:none*/
#nav li:hover .subnav {
  display: block;
}

/* Hover cho li để khi hover vào thẻ con của thẻ More thì thẻ More sẽ bị không mất màu */
#nav > li:hover > a,
#nav .subnav > li:hover a {
  color: #000;
  background-color: #ccc;
}

/* Chỉnh icon arrow-down ở header*/
#nav .nav-arrow-down {
  /* Icon cũng thuộc kiểu font */
  font-size: 14px;
}

#header .search-btn {
  /* Thuộc tính giúp phần tử trôi nổi ở bên nào(ở đây cụ thể là bên phải) */
  float: right;
  padding: 0 21px;
}
/* Khi di vào nút button search đổi màu */
#header .search-btn:hover {
  background-color: #f44336;
  /* Thuộc tính thay đổi hình dạng trỏ chuột */
  cursor: pointer;
}

/* Chỉnh icon search ở header */
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  /* Thuộc tính position ở slider giúp bảo toàn kích thước slider và để text-content nằm trên 1 lớp so với slider 
  nhằm tránh chiếm thêm diện tích slider  */
  position: relative;
  /* Vì thuộc tính position ở header là fixe nên slider sẽ chiếm luôn nên cần khoảng trống */
  margin-top: 46px;
  /* Chiều cao bằng 1/2 chiều ngang */
  padding-top: 50%;
  background: url('/assets/img/slider/slider_chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
  /* Thuộc tính absolute chỉnh vị trí chữ trong slider 
  3 thuộc tính đi cùng nhau căn giữa 1 phần tử theo chiều ngang gồm
  position, left, transform*/
  position: absolute;
  /* Di chuyển méo trái của phần tử đến 50% chiều rộng phần tử cha */
  /* Tuy nhiên, lúc này mép trái của phần tử nằm ở giữa phần tử cha, khiến phần tử bị lệch sang phải */
  /* left: 50%; */
  /* Thuộc tính transform áp dụng phép biến đổi 2d, 3d cho phần tử mà cụ thể ở đây là 
  Dịch chuyển phần tử theo chiều ngang (trục X) một khoảng bằng 50% chiều rộng của chính nó về bên trái.*/
  /* transform: translateX(-50%); */
  width: 100%;
  /* Cách phía bên dưới slider 47px */
  bottom: 47px;
  color: #fff;
  /* Căn giữa văn bản */
  text-align: center;
}
#slider .text-heading {
  /* Độ dày chữ */
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  margin-top: 25px;
}

#content {

}

#footer {

}


